.linkedin-button {
  background-color: #0077b5;
  color: white;
  border: none;
  padding: 5.5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.linkedin-button i {
  color: white;
}

.linkedin-button:hover {
  opacity: 0.7;
}